<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
	<title>新規登録</title>
	<link th:href="@{/css/header.css}" rel="stylesheet">
	<link th:href="@{/css/productDetail.css}" rel="stylesheet">
</head>

<body>
	<header th:replace="~{header :: common_header}"></header>
	<div class="container">
		<h2 class="text-start">商品詳細画面</h2>
	</div>
	<div class="container product-detail-erea">
		<div class="row">
			<div class="col-9" >
				<div class="row">
					<div class="col-6">
						<img class="product-image" th:src="@{${product.imgPath}}">
					</div>
					<div class="col-6">
						<div>
							<span>商品名：</span>
							<span th:text="${product.productName}"></span>
							
						</div>
						<div>
							<span>メーカー名：</span>
							<span th:text="${company.companyName}"></span>
						</div>
						<div>
							<span>価格：</span>
							<span th:text="${product.price} + 円"></span>
						</div>
						<div>
							<span>税込価格：</span>
							<span th:text="${product.includeTax} + 円"></span>
							
						</div>
						<div>
							<span>在庫数：</span>
							<span th:text="${product.stock}"></span>
						</div>
					</div>
				</div>
				<div class="row">

					<div class="col-6">
						<div>
							口コミ
							
							<div th:if="${review != null}" class="my-2">
								<div>
									<span>ユーザー名：</span>
									<span th:text="${review.dummyUserName}"></span>
								</div>
								<div>
									<span>コメント：</span>
									<span th:text="${review.comment}"></span>
								</div>
								<div>
									<span>評価（５段階）：</span>
									<span th:text="${review.rating}"></span>
								</div>
							</div>
							<div th:if="${review == null}" class="my-2">
								<p class="text-muted">まだ口コミはありません。</p>
							</div>

							<form th:action="@{/user/purchaseDetail}">
								<input type="hidden" name="productName" th:value="${product.productName}">
								<input type="hidden" name="price" th:value="${product.includeTax}">
								<input type="hidden" name="quantity" value="1"><!-- 単体購入のため固定 -->
								<input type="hidden" name="imagePath" th:value="${product.imgPath}">
								<input type="submit" class="btn btn-primary px-3" value="単体購入">
							</form>
							
						</div>
					</div>
					<div class="col-6">
						<div th:if="${review != null}">
							<span>投稿日時：</span>
							<span th:text="${#dates.format(review.createdAt, 'yyyy/MM/dd')}"></span>
						</div>
						<a th:href="@{/user/reviewRegister/{id}(id=${product.productId})}" class="btn btn-primary px-3 review-register-btn">口コミ投稿</a>
					</div>				</div>
			</div>
		
			<div class="col-3 border" >
				<form th:action="@{/user/addCart}" method="post">
					<input type="submit" class="btn btn-primary px-3" value="カートに入れる">
					<input type="hidden" name="productId" th:value="${product.productId}">
				<div>
					<span>数量：</span>
					<select name="quantity" class="form-select count-select">
						<option th:each="i : ${#numbers.sequence(1, product.stock)}" 
						        th:value="${i}" 
						        th:text="${i}">1</option>
					</select>
				</div>
				<div>
					<span>価格：</span>
					<span th:text="${product.price} + 円"></span>
				</div>
				<div>
					<span>税込価格：</span>
					<span th:text="${product.includeTax} + 円"></span>
				</div>
				<div>
					<span>在庫表示：</span>
					<span th:text="${product.stock}"></span>
				</div>
				</form>
			</div>
		</div>
	</div>
	<footer th:replace="~{footer :: common_footer}"></footer>
</body>

</html>