<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
	<title>新規登録</title>
	<link th:href="@{/css/header.css}" rel="stylesheet">
	<link th:href="@{/css/productDetail.css}" rel="stylesheet">
</head>

<body>
	<header th:replace="~{header :: common_header}"></header>
	<div class="container">
		<h2 class="text-start">TOP画面</h2>
	</div>
	<div class="row w-100 mx-auto bg-warning">
		<div class="col-12 text-center text-dark font-weight-bold">
			<h2 class="m-0 h4">セール品</h2>
		</div>
	</div>
	<div class="album py-5 bg-body-tertiary text-center">
		<div class="container">
			<div class="row g-4 justify-content-center">
				<div class="col-auto" th:each="item:${salesItems}">
					<div class="card shadow-sm">
						<a th:href="@{/user/productDetail/{productId}(productId=${item.productId})}" class="text-decoration-none d-block">
							<img class="card-img-top product-image" th:src="@{${item.salesImgPath}}">
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>

	<footer th:replace="~{footer :: common_footer}"></footer>
</body>

</html>